html {
  height: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  height: 100%;
  background: linear-gradient(90deg, var(--bs-blue), var(--bs-purple));
}

.container {
  background: #0a1e27;
  border-radius: 12px;
}

.header {
  color: var(--bs-light);
}

.input-div {
  background: #e6e6e6;
  border-style: none;
  border-radius: 22px;
}

svg {
  color: rgb(155,155,155);
  min-width: 26px;
  font-size: 26px;
}

.input {
  background: transparent;
  border-style: none;
}

.btn {
  width: inherit;
  background: #264fe9;
  border-radius: 22px;
}

.new-acc {
  color: var(--bs-light);
  font-size: 14px;
}

a {
  color: #41c3f8;
}

@media (min-width: 300px) {
  .logo {
    background: url("../../img/logo.svg") center / 180px no-repeat;
  }
}

@media (min-width: 768px) {
  .logo {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 4px solid #37caf1 ;
    border-right-style: none;
  }
}

@media (min-width: 300px) {
  .main-col {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 4px solid #37caf1 ;
  }
}

@media (min-width: 768px) {
  .main-col {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.form-check-label {
  color: var(--bs-light);
}

.error-message {
  color: rgb(255,44,44);
}



